/* 
 * General
 */
 html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: 300;
  letter-spacing: -1.2px;
}

a {
  display: inline-block;
}

/*
.container {
  width: 1000px;
  height:200px;
  margin: 0 auto;

}


.banner_BTA{
  height:150px;
  width:500px;
  padding-left: 100px;
  float:left;
  z-index: 999;
}

.banner_BTA img{
  height:100px;
  width:300px;
  z-index: 1000;
}

.banner_social div{
  height:100px;
  width:300px;
  padding-right: 100px;
  float:right;
}

.banner_social li{
  display: inline
}
*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

#choose-middle {
  margin-left: 180px;
}


.middle {
  margin-top: 200px;
  margin-left: 50px;
}

.section-content {
  color: #3A3A3A;
  float: left;
  width: 50%;
}

.section-content h2 {
  font-size: 28px;
}

.section-content img {
  width: 600px;
  float: right;
  padding: 50px;
}

.btn-primary {
  background: #4285F4;
  border: 1px solid #1266F1;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-secondary {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #3372DF;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* 
 * Header, propably will not be useful
 */
 header {
  background-color: #FFF;
  padding: 5px 0;
}

.title {
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.title a, .title a:visited {
  color: #3A3A3A;
}

.main-nav {
  float: right;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav li a {
  color: #3A3A3A;
}


/*
 * Sign up and log in section
 */
 .signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 53px;
}

.forms {
  margin: auto;
  width: 40%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #3A3A3A;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285F4;
  background-color: transparent;
  color: #3A3A3A;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #DB4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #DB4437;
}

.error-message {
  color: #DB4437;
}

/*
 * Sign up
 */
 .about-section h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.about-section p {
  font-size: 16px;
}

/* 
 * Home
 */
 .home-head {
  text-align: center;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  color: navy;
}

.logout-btn {
  color: rgb(2,2,2);
  background: #beebfe;
  border: 1px solid #beebfe;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin-right: 350px;
}

.reports {
  padding-top: 80px;
  padding-bottom: 100px;
}

.col {
  width: 31%;
  float: left;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  padding: 10px;
}

.col img {
  height: 100%;
  width: 100%;
}

.col h2 {
  font-weight: 60;
  font-size: 20px;
  font-family: sans-serif;
}

.reports.col p {
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

/*
Comparison Group Banners
*/
#cover {
  background: url("/static/img/BannerTint.png") top center no-repeat rgba(160, 178, 212, 0.85);
  height: 230px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.cover-content h1 {
  font-family: 'PT Serif Caption', sans-serif;
  text-align: center;
  color: #D0CDDE;
  padding-top: 70px;
  text-shadow: 1px 0px 0px black;
}

.cover-content h2 {
  font-weight: 100;
  font-family: 'PT Sans';
  font-size: 18px;
  /* text-align: center; */
  /* text-shadow: 0px 1px 0px black; */
  /* box-shadow: inset 0 0 0px black; */
  background-color: rgba(17, 89, 221, 0.52);
  color: #FDFCFC;
  width: 400px;
  margin: auto;
  width: 60%;
  text-align: center;
}

.barcol {
  /*display: inline-block;*/
  clear: right;
  margin: auto;
  width: 50%;
  margin: 59px;
}

img#bar {
  display: inline;
  float: left;
  width: 1080px;
  height: 18px;
}

h3#bartext {
  display: inline;
  top: 20px;
  clear: right;
}

.compsub {
  width: 80%;
  margin: auto;
  border-color: navy;
}

.compform {
  width:100%;
}

.single {
  width: 50%;
  float: left;
}

h4 {
  color: #1E76E6;
  font-weight: bold;
  margin-top: 10px;
}

h5 {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: #368BF6;
}

input#submit {
  margin-left: 350px;
}

input#next {
  margin-left: 350px;
}