{% extends "layout.html" %}

{% block content %}
	<main class="about-section">
		<div class="container">


		<h2> About Benefit Technology Resources </h2>
			<div class = "About BTR">
				<h3>About Benefit Technology Resources</h3>
				<p>Benefit Technology Resources has become the leading HR Technology Consulting firm in the business. Our specialty is helping insurance brokers and their employer/clients improve the efficiency and functionality of their existing technology. Failing that – we help them find, from among the over 300 providers, a solution which best fits their needs – because we know “one size doesn’t fit all.” We also stay involved every step of the way, including implementation, to assure the desired outcome. We’re independent, honest, creative, reliable and we have a passionate commitment to excellence.</p>

			</div>

			<div class = "About Benchmarking Project">
				<h3>About Benchmarking Project</h3>
				<p> The benchmarking proejct, powered by BTR, collectes benefit data from three platforms that are manged by BTR: PlanSource, Bswift, and Employer Navigator. We incorporate nation-wide data from different industies, locations and firms sizes. </p>


			</div>
		</div>
	</main>
{% endblock %}
