{% extends "layout.html" %}

{% block content %}

<body>

  <div id="cover">
    <div class="cover-content">
      <h1>Entering a New Group to Compare</h1>
      <h2>We offer your the capability to enter extensive details in your plan and compare them with the aggregate data in our database.</h2>
    </div>
  </div>

<p>Please enter the data to generate a report.</p>

<form method = "POST" action="/compenter">
{{ form.hidden_tag() }}
	<div class="compform">
		{{ form.CompanyName.label }}
		{% if form.CompanyName.errors %}
                    {% for error in form.CompanyName.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
		{{ form.CompanyName }}

		{{ form.CompanySize.label }}
		{% if form.CompanySize.errors %}
                    {% for error in form.CompanySize.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
		{{ form.CompanySize }}

		{{ form.CompanyState.label }}
		{% if form.CompanyState.errors %}
                    {% for error in form.CompanyState.errors %}
                      <p class="error-message">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
		{{ form.CompanyState }}
	</div>
{{ form.submit(class="btn-primary") }}
</form>

</body>





  
{% endblock %}