{% extends "layout.html" %}

{% block content %}

<body>

  <div id="cover">
    <div class="cover-content">
      <h1>ON-DEMAND ANALYTICS</h1>
      <h2>We offer your the capability to enter extensive details in your plan and compare them with the aggregate data in our database.</h2>
    </div>
  </div>


  <div class="barcol">
   <h3 id='bartext'> BASIC INFO </h3>
   <img id ='bar' src="/static/img/bar.png" />
 </div>

 <form method = "POST" action="/compenter">
  {{ form.hidden_tag() }}
  <div class="compform">

    <div class ='compsub'>

      <h4> COMPANY INFO </h4>
      {{ form.CompanyName.label }}
      {% if form.CompanyName.errors %}
      {% for error in form.CompanyName.errors %}
      <p class="error-message">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {{ form.CompanyName }}

      {{ form.CompanySize.label }}
      {% if form.CompanySize.errors %}
      {% for error in form.CompanySize.errors %}
      <p class="error-message">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {{ form.CompanySize }}

      {{ form.CompanyState.label }}
      {% if form.CompanyState.errors %}
      {% for error in form.CompanyState.errors %}
      <p class="error-message">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {{ form.CompanyState }} 
      
    </div>
    <br> <br>

    <div class='compsub'>
    
     <h4> NEW HIRE BENEFIT POLICY </h4>

     {{ form.WaitRule.label }}
     {% if form.WaitRule.errors %}
     {% for error in form.WaitRule.errors %}
     <p class="error-message">{{ error }}</p>
     {% endfor %}
     {% endif %}
     {{ form.WaitRule }}



     {{ form.FundingMethod.label }}
     {% if form.FundingMethod.errors %}
     {% for error in form.FundingMethod.errors %}
     <p class="error-message">{{ error }}</p>
     {% endfor %}
     {% endif %}
     {{ form.FundingMethod }}
  
   </div>

   <br> <br>

   <div class = 'compsub'>
      <h4> BENEFIT PLAN INFO </h4>
      {{ form.BenefitPlan.label }}
      {% if form.BenefitPlan.errors %}
      {% for error in form.BenefitPlan.errors %}
      <p class="error-message">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {{ form.BenefitPlan }}
    </div>

  <br> <br>
    <div class = 'compsub'>
      <h4> MONTHLY PREMIUM </h4>

       <h5> Single </h5>
       {{ form.MonthlyPremium_Single.label }}
       {% if form.MonthlyPremium_Single.errors %}
       {% for error in form.MonthlyPremium_Single.errors %}
       <p class="error-message">{{ error }}</p>
       {% endfor %}
       {% endif %}
       {{ form.MonthlyPremium_Single }}

       <br>
       {{ form.EEMonthly_Single.label }}
       {% if form.EEMonthly_Single.errors %}
       {% for error in form.EEMonthly_Single.errors %}
       <p class="error-message">{{ error }}</p>
       {% endfor %}
       {% endif %}
       {{ form.EEMonthly_Single }}

        <br>
       {{ form.ERMonthly_Single.label }}
       {% if form.ERMonthly_Single.errors %}
       {% for error in form.ERMonthly_Single.errors %}
       <p class="error-message">{{ error }}</p>
       {% endfor %}
       {% endif %}
       {{ form.ERMonthly_Single }}



        <h5> Family </h5>
        {{ form.MonthlyPremium_Family.label }}
        {% if form.MonthlyPremium_Family.errors %}
        {% for error in form.MonthlyPremium_Family.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}
        {{ form.MonthlyPremium_Family }}

         <br>
        {{ form.EEMonthly_Family.label }}
        {% if form.EEMonthly_Family.errors %}
        {% for error in form.EEMonthly_Family.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}
        {{ form.EEMonthly_Family }}

         <br>
        {{ form.ERMonthly_Family.label }}
        {% if form.ERMonthly_Family.errors %}
        {% for error in form.ERMonthly_Family.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}
        {{ form.ERMonthly_Family }}

  </div>

  <br> <br>


{{ form.submit(class="btn-primary", id='submit') }}



<a href="{{ url_for('home') }}" class="btn logout-btn">Return to previous page</a> 


</form>

</body>




{% endblock %}